mixin textfield(options)
    .field
        span(class= "title")= options.title || "Text Field"
        div
            if options.type == "masked"
                input(class = options.class || "text" type="text" placeholder=options.value || "Text")
            else if options.type == "subs"
                .sub
                    input(class = options.class || "subs" type="text" placeholder=options.value || "Email")
                    svg(class = "sndbtn" width="18" height="18")
                        path(d = "M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
            else
                input(class = options.class || "text" type="text" placeholder=options.value || "Text")